html {
  background-color: transparent;
}
body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#sprite-image {
  display: none;
  position: fixed;
  top: 200px;
  left: 200px;
  width: 160px;
  height: 160px;
  object-fit: scale-down;
  filter: drop-shadow(1px 1px 2px #000);
}
